{% extends 'base_ecole.html.twig' %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputName1">Nom</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Nom du nouveau module">
            </div>
            <div class="form-group">

                <a class="nav-link" href="file:///C:/Users/LENOVO/Desktop/PurpleAdmin-Free-Admin-Template-master/ed+%20template/pages/icons/mdi.html">
                    <button type="submit" class="btn btn-gradient-primary mr-2">Ajouter</button>
                </a>
                </li>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th> # </th>
                    <th> Module </th>
                    <th> Chapitres </th>
                    <th> Modifier </th>
                    <th> Supprimer </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 1 </td>
                    <td> Séries temporelles-BI </td>
                    <td>
                        <a class="nav-link" href="index.html">   
                                <i class="mdi mdi-call-made menu-icon"></i>
                        </a>
                        </li>
                    </td>
                    <td>  <a class="nav-link" href="index.html">        <i class="mdi mdi-border-color menu-icon"></i>
                        </a>
                        </li>		 </td>
                    <td>  <a class="nav-link" href="index.html">        <i class="mdi mdi-delete menu-icon"></i>
                        </a>
                        </li>		 </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> Simulation Monté-carlo </td>
                    <td>
                        <a class="nav-link" href="index.html">   
                                <i class="mdi mdi-call-made menu-icon"></i>
                        </a>
                        </li>
                    </td>
                    <td>  <a class="nav-link" href="index.html">       <i class="mdi mdi-border-color menu-icon"></i>
                        </a>
                        </li>		 </td>
                    <td>  <a class="nav-link" href="index.html">         <i class="mdi mdi-delete menu-icon"></i>
                        </a>
                        </li>		 </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Proba 1-2 DS </td>
                    <td>
                        <a class="nav-link" href="index.html">    
                                <i class="mdi mdi-call-made menu-icon"></i>
                        </a>
                        </li>
                    </td>
                    <td>  <a class="nav-link" href="index.html">         <i class="mdi mdi-border-color menu-icon"></i>
                        </a>
                        </li>		 </td>
                    <td>  <a class="nav-link" href="index.html">         <i class="mdi mdi-delete menu-icon"></i>
                        </a>
                        </li>		 </td>
                </tr>
                <tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}